### 1일차 코드 뿌시기
- 첫 번째 실습
- 두 번째 실습

In [1]:
x = 10

In [2]:
y = 20

In [3]:
print(x + y)

30

In [4]:
num = 3

In [5]:
print(num)

3

In [7]:
# 주석(comment) : #기호와 함께 사용
print(1+2) # 1과2를 더해서 출력하시오

3

In [6]:
print(1+2)
print(2+3)
print(3+4)
print(4+5)

3
5
7
9

In [9]:
# 20 + 10 출력
# 20 - 10 출력
# 20 * 10 출력
# 20 / 10 출력

In [13]:
num1 = 300
num2 = 15
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

315
285
4500
20.0

In [15]:
print("Hello World!")
hello = 'Hello World!!'
print(hello)

Hello World!
Hello World!!

In [16]:
is_rainy = False
is_friday = False
is_go_home = False
is_study = True

In [17]:
name = "정예찬"
Name = '장준우'
print(name, Name)

정예찬 장준우

In [18]:
점심 = "냉면"
print(점심)

냉면

In [19]:
from keyword import kwlist
print(kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [22]:
import math
# import 실행 시 아무일도 일어나지 않는다
# 정상 로딩!
# Shift + Tab : document String
print(math.sin(0.523599))

0.5000001943375613

### 연산자(Operator)
- 산술 연산자
- 지수 연산자
- 대입 연산자
- 관계 연산자
- 논리 연산자
- 삼항 연산자

In [23]:
### 산술 연산자
num3 = 10
num4 = 7
print(num3 + num4)
print(num3 - num4)
print(num3 * num4)
print(num3 / num4)
print(num3 // num4)
print(num3 % num4)

17
3
70
1.4285714285714286
1
3

In [26]:
### 지수 연산자 (**)
print(2**10)

1024

In [25]:
### 대입 연산자 (=)
# 변수명 = 값
# 반드시 = 오른쪽이 먼저 연산이 된다!!
# 연산자의 우선순위
age = 20 + 1
age = age + 1
# 복합대입연산자
age += 1 # age 변수 값을 호출 후 1을 더한다. 다시 age에 저장!
# age = age + 1
print(age)

23

In [ ]:
money = 10000
# money에서 3000원을 뺀 후 다시 money에 저장!
money = money - 3000
# money -= 3000
# 산술연산자 6개에 대입연산자 =를 붙여
# 복합대입연산자 가능!
# += -= *= /= //= %=

In [ ]:
# 값을 출력하는 기능 : print() 함수
# 값을 입력받는 기능 : input() 함수

In [29]:
name = input("이름을 입력하세요 :")
print("이름 :", name)

이름을 입력하세요 : 정예찬

이름 : 정예찬

In [33]:
# 정수를 입력 받아 2를 곱한 후 출력!
# input을 통해 입력 받은 값은!! 문자열이다..!!
# 문자열 * 정수 -> 문자열을 정수만큼 반복
num6 = int(input("정수를 입력하세요 :"))
# 문자열인 num6를 정수로 변환(casting)
# int(문자열)  -> 정수가 된다!
print(num6 * 2)

정수를 입력하세요 : 1024

2048

In [35]:
# 초를 입력 받아
# 시, 분, 초로 환산하는 프로그램
# 7533초 -> 2시간 5분 33초
total = int(input("초를 입력하세요 :"))
# total로부터 hour, minute, second를 연산!!
hour = 2
minute = 5
second = 33
print(hour, "시간", minute, "분", second, "초")

초를 입력하세요 : 7533

2 시간 5 분 33 초

In [ ]:
# 변수의 대입
# 변수명 = 값
# 변수의 선언 : 변수의 이름을 짓는 부분!!
# 변수의 할당 : 값을 변수에 대입!!
# 할당 중 최초 대입하는 과정 -> 초기화
# 두 번째 할당 -> 재할당!!
num5 = 10